:root {
  --slider-pip-left-value: 0%;
}

body {
  background: #ffffff;
  color: #222222;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  line-height: 26px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }
}

canvas {
  display: block;
  overflow: hidden;
  position: relative;
}

iframe {
  display: block;
}

img {
  display: block;
  height: auto;
}

video {
  display: block;
  height: auto;
}

h1 {
  line-height: 1.05;
  text-align: center;
  margin: 80px 18px 0;
}

blockquote {
  margin-left: 1.5em;
}

.headlineLarge {
  font-family: "DM Serif Display", serif;
  font-size: 64px;
  display: block;
}

.headlineSmall {
  font-family: "DM Sans", sans-serif;
  font-size: 54px;
  margin-top: 12px;
  display: block;
}

.author {
  font-family: "DM Sans", serif;
  margin: 0;
  font-size: 19px;
  text-align: center;
  margin: 16px 0 80px;
}

@media (max-width: 600px) {
  h1 {
    margin: 60px 18px 0;
  }

  .headlineLarge {
    font-size: 48px;
  }

  .headlineSmall {
    font-size: 32px;
    margin-top: 8px;
  }

  .author {
    font-size: 14px;
    margin: 16px 0 60px;
  }
}

.author a {
  color: inherit;
}

.articleHeadline {
  font-size: 48px;
  margin: 1em 0 0.6em;
  line-height: 1.05;
  font-family: "DM Serif Display", serif;
}

@media (max-width: 600px) {
  .articleHeadline {
    font-size: 32px;
  }
}

a {
  color: #0046c9;
}

article {
  max-width: 720px;
  margin: 24px 48px 0;
  position: relative;
}

article img,
article video {
  max-width: 50%;
}

@media (max-width: 600px) {
  article {
    margin-left: 24px;
    margin-right: 24px;
  }

  article img,
  article video {
    max-width: 100%;
  }
}

article img.inlineWithText {
  display: inline;
  height: 1em;
}

article img.fullWidth {
  max-width: 100%;
}

figure {
  margin: 0 0 1em;
}

figure img,
figure video {
  margin-bottom: 14px;
}

figure .sideBySide {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

figure .sideBySide img {
  max-width: 100%;
}

figure.rightBar {
  position: absolute;
  left: 100%;
  width: calc(100vw - 38em - 48px);
  padding: 0 48px;
  box-sizing: border-box;
}

@media only screen and (max-width: 840px) {
  figure.rightBar {
    position: static;
    width: auto;
    padding: 0;
  }
}

figcaption {
  margin-top: 1em;
}

figcaption a {
  color: inherit;
}

figure.video169 {
  aspect-ratio: 16 / 9;
  width: 100%;
}

figure.video169 iframe {
  width: 100%;
  height: 100%;
}

.caption {
  font-family: "DM Mono", monospace;
  font-size: 14px;
  line-height: 1.6em;
  color: #999;
}

@media (max-width: 600px) {
  .caption {
    font-size: 12px;
  }
}

.normalWidthContainer {
  position: relative;
  margin: 1em auto 0;
  width: 100%;
}

.fullWidthContainer {
  position: relative;
  margin: 1em auto 0;
  width: calc(100vw - 96px);
}

@media (max-width: 600px) {
  .fullWidthContainer {
    width: calc(100vw - 48px);
  }
}

.fullWidthContainer canvas {
  background: url("./ecoliSimulation/images/Background.png") #010010;
  background-size: 100% 100%;
}

.sliderAndPip {
  position: relative;
  width: calc(100vw - 96px);
  height: 64px;
  margin: 8px auto 0;
  margin-bottom: 52px;
}

@media (max-width: 600px) {
  .sliderAndPip {
    width: calc(100vw - 48px);
  }
}

.sliderAndPip canvas {
  cursor: pointer;
}

.sliderLabel {
  position: absolute;
  top: calc(100% + 8px);
}

.sliderLabel:last-of-type {
  right: 0;
}

footer {
  border-top: 4px solid #eeeeee;
  max-width: 720px;
  margin: 64px 48px;
  font-family: "DM Mono", monospace;
  font-size: 16px;
}

.footerHeadline {
  font-family: "DM Mono", monospace;
  font-size: 32px;
  margin-top: 52px;
}

@media (max-width: 600px) {
  footer {
    margin: 64px 24px;
    font-size: 12px;
  }

  .footerHeadline {
    font-size: 24px;
    margin-top: 52px;
  }
}
