:root {
  --slider-pip-left-value: 0%;
}

body {
  background: #ffffff;
  color: #222222;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  line-height: 26px;

  @media (prefers-color-scheme: dark) {
    background: #000117;
    color: #fff;
  }

  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.bodyContainer {
  max-width: 1570px;
  margin: 0 auto;
}

a {
  color: #0046c9;

  @media (prefers-color-scheme: dark) {
    color: #4c82e6;
  }
}

canvas {
  display: block;
  overflow: hidden;
  position: relative;
}

iframe {
  display: block;
}

img {
  display: block;
  height: auto;
}

video {
  display: block;
  height: auto;
}

h1 {
  line-height: 1.05;
  text-align: center;
  margin: 80px 18px 0;

  @media (max-width: 600px) {
    margin: 60px 18px 0;
  }
}

p {
  text-wrap: pretty;
}

.headlineLarge {
  font-family: "DM Serif Display", serif;
  font-size: 64px;
  display: block;

  @media (max-width: 600px) {
    font-size: 48px;
  }
}

.headlineSmall {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  margin-top: 12px;
  display: block;

  @media (max-width: 600px) {
    font-size: 23px;
    margin-top: 8px;
  }
}

.author {
  font-family: "DM Sans", serif;
  margin: 0;
  font-size: 19px;
  text-align: center;
  margin: 16px 0 80px;

  @media (max-width: 600px) {
    font-size: 16px;
    margin: 16px 0 60px;
  }

  & a {
    color: inherit;
  }
}

.articleHeadline {
  font-size: 48px;
  margin: 1em 0 0.6em;
  line-height: 1.05;
  font-family: "DM Serif Display", serif;

  @media (max-width: 600px) {
    font-size: 32px;
  }
}

.clickable {
  cursor: pointer;
}

article {
  max-width: 720px;
  margin: 24px 48px 0;
  position: relative;

  @media (max-width: 600px) {
    margin-left: 24px;
    margin-right: 24px;
  }

  & :is(img, video) {
    max-width: 50%;

    @media (max-width: 600px) {
      max-width: 100%;
    }
  }

  & sub {
    vertical-align: unset;
    position: relative;
    bottom: -0.2em;
  }

  & blockquote {
    margin-left: 1.5em;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .inlineWithText {
    display: inline;
    height: 1em;
  }

  .fullWidth {
    max-width: 100%;
  }
}

figure {
  margin: 0 0 1em;

  & :is(img, video) {
    margin-bottom: 14px;
  }

  &.video169 {
    aspect-ratio: 16 / 9;
    width: 100%;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }

  &.rightBar {
    position: absolute;
    left: 100%;
    width: calc(min(100vw, 1570px) - 720px - 48px);
    padding: 0 48px;
    box-sizing: border-box;

    @media (max-width: 1190px) {
      position: static;
      width: auto;
      padding: 0;
    }
  }

  .sideBySide {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;

    & img {
      max-width: 100%;
    }
  }
}

figcaption {
  margin-top: 1em;

  & a {
    color: inherit;
  }
}

.caption {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.6em;
  color: #999;

  @media (max-width: 600px) {
    font-size: 12px;
  }

  @media (prefers-color-scheme: dark) {
    color: #7e7e7e;
  }
}

.attribution {
  font-size: 16px;
  color: #999;

  @media (max-width: 600px) {
    font-size: 12px;
    color: #999;
  }

  @media (prefers-color-scheme: dark) {
    color: #7e7e7e;
  }

  & a {
    color: inherit;
  }
}

.normalWidthContainer {
  position: relative;
  margin: 1em auto 0;
  width: 100%;
}

.fullWidthContainer {
  position: relative;
  margin: 1em auto 0;
  width: calc(min(100vw, 1570px) - 96px);

  @media (max-width: 600px) {
    width: calc(100vw - 48px);
  }

  & canvas {
    background: url("./ecoliSimulation/images/Background.png") #010010;
    background-size: 100% 100%;
  }
}

.sliderAndPip {
  position: relative;
  width: calc(min(100vw, 1570px) - 96px);
  height: 64px;
  margin: 8px auto 0;
  margin-bottom: 52px;

  @media (max-width: 600px) {
    width: calc(100vw - 48px);
  }

  & canvas {
    cursor: pointer;
  }
}

.sliderLabel {
  position: absolute;
  top: calc(100% + 8px);

  &:last-of-type {
    right: 0;
  }
}

.blueButton {
  width: 83px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: url("./stepReverse/default.png");
  background-size: 100%;
  user-select: none;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    filter: contrast(120%);
  }

  &:active {
    background-image: url("./stepReverse/inset.png");
    filter: contrast(100%);
  }
}

.sideBySideControls {
  display: flex;
  gap: 8px;
  justify-content: center;
}

footer {
  border-top: 4px solid #eeeeee;
  max-width: 720px;
  margin: 64px 48px;
  font-family: monospace;
  font-size: 16px;
  color: #777;

  @media (prefers-color-scheme: dark) {
    color: #7e7e7e;
    border-color: #7e7e7e;
  }

  @media (max-width: 600px) {
    margin: 64px 24px;
    font-size: 12px;
  }

  & a {
    color: inherit;
  }
}

.footerHeadline {
  font-family: monospace;
  font-size: 32px;
  margin-top: 52px;
  color: #222;

  @media (prefers-color-scheme: dark) {
    color: #d3d3d3;
  }

  @media (max-width: 600px) {
    font-size: 24px;
    margin-top: 52px;
  }
}
